# Visual Studio
/.vs
/.host
*.suo
*.user
*.sln
*.lnk

# Debug/Release
bin/
obj/

# Windows Store
AppPackages/

# Rider
.idea/

# Temp files
*.Tmp
*.Backup*

# Local DB
supermarket.db

# NuGet
packages/

# DotNet
*.json.user
*.dirser
*.vspscc
_suite

# API Key Files
*.pem
*.key

# Build artifacts
Releases/
publish/
